body {
    margin-top: 2em;    
}

.container{
    display: block;
    justify-self: center;
    line-height: 20px;
    background: rgb(235, 240, 240);
    color: rgb(11, 11, 12);
}

.row{
    padding: 15px;
    font-size: larger;
    font-weight: bold;
    text-shadow: black;
    color: rgb(191, 46, 46);
}